 /*  card blog start*/
 .card-blog{
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top:20px;
 }
 .card-blog-body {
    padding: 10px;
   
 }
 .card-blog-smalltext{
   text-align:left;
   font-size: 16px;
   font-style: italic;
   font-weight: 100;
 }
 .card-blog-name{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: oblique;
 }
 .card-blog-img{
    width: 100%;
    position: relative;
 }
 .card-blog-star i{
    text-align: center;
    padding: 20px;
    font-size: 30px;
 }
 .card-blog-star i:hover{
   color: yellow;
}
.card-blog-star i:active{
   color: rgb(255, 157, 0);
}
  /*  card blog finish*/
  /*  page blog start*/
  .blog-page-title{
   color: rgb(71, 69, 69);
   font-weight: bold;
   font-style: inherit;
   font-size: 40px;
  }
  .blog-page-main-img{
     width: 100%;
  }
  .blog-page-contact-card{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   padding: 20px;
  }
  .blog-page-secondary-img{
     width: 80%;
     padding: 10px;
  }
  .blog-page-card-presentation{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   padding: 20px;
  }
  .blog-page-card-presentation-title{
     text-align: center;
     font-weight: bolder;
  }
  .blog-page-card-presentation-text{
     padding: 10px;
  }
  .blog-page-card-presentation-pres{
     font-weight: 100;
     font-size: 18px;
     font-style: italic;
  }
  /*  page blog finish*/
 /*  card news start*/
 .card-news-link
 {
    color: green;
    text-align: center;
    font-size: 20px;
 }
 .card-news-link:hover{
   color: green;
   text-decoration: none;
 }
.card-news-img {
   width: 100%;
}
.card-news-author{
   font-weight: bold;
   text-align: center;
}
.card-news-date{
   text-align: right;
   font-weight: 100;
   font-style: oblique;
}
.card-news-title{
   text-align:center;
   font-weight: bold;
   padding: 10px;
}
.card-news{
   padding: 20px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   margin-top:20px;
}
 /*  card news finish*/
  /*  page news start*/
 .news-page-card {
   padding: 30px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   margin-top:20px;
 }
 .news-page-card-title{
    text-align: center;
    font-style: italic;
    color: rgb(27, 26, 26);
    font-size: 40px;
 }
 .news-page-card-img{
    width: 100%;
 }
 .news-page-card-subt{
    text-align: center;
    color: rgb(27, 26, 26);
    font-size: 35px;
    font-style: italic;
 }
 .news-page-card-text{
    font-style: italic;
    color: rgb(27, 26, 26);
    font-size: 20px;
    line-height: 35px;
    padding-top: 20px;

 }
   /*  page news finish*/
 /*bodystuff*/
 .nav-link{
   justify-content: flex-end;
   margin-top: 0px;
   font-size:35px;   
   margin-left: 40px;
}
.arrow-go-back {
   font-size: 50px;
   color: magenta;
}
.arrow-go-back:hover {
   color: magenta;
}
.image-background-start{
   background: url(https://images.pexels.com/photos/459688/pexels-photo-459688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
   height: 800px;
   width: 100vw;
   background-size:cover;
   overflow: hidden;
}
.filter-bar{
   padding-right: 300px;
   padding-left: 100px;
}
/*bodystuff*/
/* intro-card start*/
.intro-card{
   padding: 40px;
}
.intro-card-title{
   text-align: center;
   padding-top: 20px;
   color: peru;
   font-size: 40px;
   font-weight: bolder;
   padding-top: 40px;
}
.intro-card-text{
   text-align:left;
   font-size: 12px;
   font-style: italic;
   font-weight: 100;
   color: grey;
   
}
/* intro-card finish*/
/* DERBY to Rent*/
.football-card {
   padding:20px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   color: rgb(29, 28, 28);
   background-color: cornsilk;
   margin-bottom: 40px;
}
.football-card-img{
   width: 90%;
}
.football-card-title{
   text-align: center;
   font-style: initial;
}
.football-card-text{
   font-size: 18px;
   line-height: 30px;
   color: rgb(63, 61, 61);
   font-style: italic;
   font-weight: 100;
   padding-top: 60px;
}
.football-card-button{
   margin-left: auto;
   padding: 5px;
   border-color: rgb(0, 0, 0);
   background-color: green;
   color: white;
   margin-top: 20px;
}
.page-football-card-title{
   text-align: center;
   padding: 10px;
   
}
.page-football-card-img{
   width: 100%;
   margin-top: 40px;
}
.page-football-card {
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   padding:20px;
   color: rgb(29, 28, 28);
   font-weight: 100;
}
.page-football-image{
   background: url({{$pitch->image}}) no-repeat;
   height: 800px;
   width: 100vw;
   background-size:cover;
   overflow: hidden;
}
.football-card-equipment{
   font-style: italic;
   color: grey;
}
.margin-top{
   margin-top:100px;
}
.ticket-card{
   display: none;
   box-shadow: 0 3px 6px rgba(182, 1, 1, 0.479), 0 3px 6px rgba(158, 3, 3, 0.411);
   padding: 30px;
   background-color: rgb(255, 255, 255);
   margin-top: 20px;
   margin-bottom: 20px;
}
.ticket-card-title{
   text-align: center;
   color: red;
}
.ticket-card-price{
   color: red;
}
.buy-ticket{
   background-color: red;
   border-color: red;
   color: white;
   align-items: center;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   padding: 5px;
}
.ticket-card input{
   width: 100%;
   margin-right: auto;
   margin-top: 5px;
   margin-bottom: 5px;
}
.football-card-city{
   
   padding:  10px;
}
.foot{
   background-color: #f8f9fa;
}
.facebook-logo{
   width: 50%;
   padding: 30px;
}
.card-contact-us{
   padding: 20px;
   color: rgb(71, 71, 71);
   font-style: italic;
   font-weight: 100;
}
.card-contact-us-title{
   color: orangered;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 23px;
   font-weight: bold;
}
 /* Set the size of the div element that contains the map */
 #map {
   height: 400px;  /* The height is 400 pixels */
   width: 100%;  /* The width is the width of the web page */
  }
.img-link{
   width: 100%;
   padding-top: 20px;
}
.card-comments{
   padding: 30px;
   box-shadow: 0 3px 6px rgba(53, 47, 47, 0.479), 0 3px 6px rgba(53, 49, 49, 0.411);
   background-color: rgba(84, 184, 84, 0.609);
   margin-top: 30px;
}
.card-comments-card{
   border: 3px  solid rgba(0, 0, 0, 0.438);
   background-color: rgb(255, 255, 255);
   padding: 10px;
}
.checked{
   color: rgb(255, 136, 0);
}
.top-right {
   position: relative;
   right: 10px;
   top: 0px;
}
.links > a {
   color: #636b6f;
   padding: 0 25px;
   font-size: 13px;
   font-weight: 600;
   letter-spacing: .1rem;
   text-decoration: none;
   text-transform: uppercase;
}
.input-text-review{
   width: 100%;
}
.card-user{
   position: sticky;
   top:230;
   padding: 10px;
   box-shadow: 0 3px 6px rgba(53, 47, 47, 0.479), 0 3px 6px rgba(53, 49, 49, 0.411);
   margin-bottom: 40px;
   width: 100%;
}
.add-pitch i {
   font-size: 40px;
   color: darkmagenta;
   padding: 30px;
}
.add-event i {
   font-size: 40px;
   color: rgb(0, 14, 139);
   padding: 30px;
}
/* star rating */
.rate {
   float: left;
   height: 46px;
   padding: 0 10px;
}
.rate:not(:checked) > input {
   position:absolute;
   top:-9999px;
}
.rate:not(:checked) > label {
   float:right;
   width:1em;
   overflow:hidden;
   white-space:nowrap;
   cursor:pointer;
   font-size:30px;
   color:#ccc;
}
.rate:not(:checked) > label:before {
   content: '★ ';
}
.rate > input:checked ~ label {
   color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
   color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
   color: #c59b08;
}
/* star rating end*/
.avatar-chat{
   width: 50px;
   justify-content: flex-end;
}
.card-your-review{
   padding: 10px;
   text-align: right;
   width: 200px;
   margin-left: auto;
   background-color: rgba(49, 149, 49, 0.924);
   margin-top: 10px;
}
.card-reviews{
   background-color: transparent;
   padding: 10px;
   min-height: 600px;
}
.card-somebody-review{
   margin-right: auto;
   width: 200px;
   padding: 10px;
   margin-top: 10px;
}
.write-comment-card{
  
   padding: 20px;
   margin-top: 30px;
   width: 100%;
}
.review-title{
   text-align: center;
}
.foot{
   margin-top: 10%;
}
.card-ticket{
   padding: 20px;
   margin-top: 50px;
}
.buyticket-card-title{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
.card-remind-pitch-img{
   width: 300px;
}
.card-remind-pitch{
   padding: 20px;
}
.card-remind-pitch-title{
   text-align: center;
}
.card-payement-method{
   padding: 20px;
   margin-top: 50px;
}
.card-form-pitch{
   padding: 20px;
   box-shadow: rgba(34, 34, 34, 0.5) 1px 1px 1px 1px;
   margin: 10px;
}
.card-form-pitch input{
   width: 100%;
   box-shadow: rgba(200, 191, 185, 0.664) 1px 1px 1px 1px;
}
.ticket-accepted{
   background-color: green;
}
.ticket-rejected{
   background-color:red;
}
.nav-logo{
   width: 200px;
}
#nav-bar{
   justify-content:flex-end;
   position: fixed;
   width: 100%;
   margin-top: -235px;
   z-index: 9999;
   text-align: center;
}
.first-container{
   margin-top: 235px;
}
.nav-link{
   float: left;
   text-align: center;
   display: block;
}
.action-link-edit{
   justify-content:flex-end;
   position: absolute;
   margin-left: 150px;
   margin-top: -55px;
   border: 1px 1px 1px 1px rgb(0, 0, 0);

}
.action-link-delete{
   justify-content:flex-end;
   position: absolute;
   margin-left: 300px;
   margin-top: -55px;
   border: 1px 1px 1px 1px rgb(0, 0, 0);
}
.padding{
   padding:40px;
}
.text-permission{
   font-size: 12px;
   font-style: italic;
   color: gray;
}
.calendar-card{
   padding: 10px;
}
.news-case-img{
   width: 300px;
   position: relative;
   justify-content: flex-end;
   margin-left: 100%;
}
.news-case-card{
   padding: 10px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/*example*/
.linnkks{ 
   color: #636b6f;
   padding: 0 25px;
   font-size: 13px;
   font-weight: 600;
   letter-spacing: .1rem;
   text-decoration: none;
   text-transform: uppercase;
}
.card-contact-us-adress{
   text-decoration: none;
   text-transform: uppercase;
   color: #636b6f;
   font-size: 13px;
   font-weight: 600;
}
.user-settings-card{
   padding: 10px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn-filter{
   width: 400px;
   font-size: 30px;
   background-color: transparent;
   border: transparent;
}
.btn-filter:active{
   font-size: 30px;
   background-color: transparent;
   text-decoration-color: transparent;
   border: transparent;
   border-color: transparent;
}
.btn-filter:hover{
   font-size: 30px;
   background-color: transparent;
   border: transparent;
   border-color: transparent;
}
.btn-filter:link{
   font-size: 30px;
   background-color: transparent;
   border: transparent;
   border-color: transparent;
}