
body {
  background-color:rgb(221, 233, 168); 
  margin-left: 20px;
}

h1 {
text-shadow: 3px 2px rgb(140, 180, 140);
font-size: 40px;

}
.table-striped{
border: 2px solid rgb(131, 180, 131);
background-color: rgb(202, 236, 152);
}
.table-striped{
border: 2px solid rgb(131, 180, 131);
background-color: rgb(202, 236, 152);

}
td {
font-size: 20px;
border-style: outset;
}
